body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #bccff1;
    color: white;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
}

nav li{ 
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration:none;
}

button {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.back-button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    margin: 10px auto;
}

.back-button:hover {
    background-color: #102d4d;
}

.botonh1pprincipal {
    background-color: #bccff1; /* Cambia este color según tus preferencias */
    padding: 20px; /* Agrega un poco de espacio alrededor del texto */
    color: #333; /* Cambia el color del texto si lo deseas */
    text-align: center; /* Centra el texto */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.h1operaciones {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #bccff1;
    padding: 20px;
    color: #333;
    text-align: center;
    text-decoration: underline;
}

.btnregresooperaciones {
    background-color: red;
    border-radius: 50px;
    text-decoration: underline;
}

